<form (ngSubmit)="onSubmit()">
    <header>
        <h1>Mortgage Calculator</h1>
        <button (click)="onClear()" type="button">Clear All</button>
    </header>
    <div class="inputs">
        @for (input of inputs; track input.name) {
            <app-input
                [name]="input.name"
                [label]="input.label"
                [type]="input.type"
                [preText]="input.preText || ''"
                [postText]="input.postText || ''"
                [radioOptions]="input.options || []"
                [(value)]="formValues[input.name]"
                [error]="errors[input.name]"
                (valueChange)="onValueChange()"
            />
        }
    </div>
    <button type="submit">
        <img src="icon-calculator.svg" alt="calculator" />
        Calculate Repayments
    </button>
</form>
